langchain
python-dotenv
ipykernel  # Required for Jupyter Notebook support
langchain-groq
langchain-google-genai
langchain-community
pypdf
faiss-cpu
structlog
PyMuPDF
pandas
streamlit
langchain-core[tracing]
langchain-core.chains

-e .